### Import Libraries

In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.offline as po
po.init_notebook_mode(connected=True)
import plotly.io as pio
pio.templates.default = 'ggplot2'

### Load and Preview Data

In [11]:
loan = pd.read_csv("Loan payments data.csv")
print(loan.shape)
loan.head()

(500, 11)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female

### Data Cleaning

In [5]:
ln_data = loan.copy()

In [6]:
new_col = []
for col in ln_data.columns:
    new = col.lower().strip()
    new_col.append(new)
ln_data.columns = new_col

In [7]:
ln_data.dtypes

loan_id            object
loan_status        object
principal           int64
terms               int64
effective_date     object
due_date           object
paid_off_time      object
past_due_days     float64
age                 int64
education          object
gender             object
dtype: object

In [8]:
date_col = ['effective_date', 'due_date', 'paid_off_time']
for col in date_col:
    ln_data[col] = pd.to_datetime(ln_data[col])

In [9]:
ln_data.dtypes

loan_id                   object
loan_status               object
principal                  int64
terms                      int64
effective_date    datetime64[ns]
due_date          datetime64[ns]
paid_off_time     datetime64[ns]
past_due_days            float64
age                        int64
education                 object
gender                    object
dtype: object

In [10]:
ln_data.isna().sum()

loan_id             0
loan_status         0
principal           0
terms               0
effective_date      0
due_date            0
paid_off_time     100
past_due_days     300
age                 0
education           0
gender              0
dtype: int64

In [13]:
ln_data['month'] = ln_data['effective_date'].dt.to_period('M')
ln_data.head()

,loan_id,loan_status,principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,gender,month
0,xqd20166231,PAIDOFF,1000,30,2016-09-08,2016-10-07,2016-09-14 19:31:00,NaN,45,High School or Below,male,2016-09
1,xqd20168902,PAIDOFF,1000,30,2016-09-08,2016-10-07,2016-10-07 09:00:00,NaN,50,Bechalor,female,2016-09
2,xqd20160003,PAIDOFF,1000,30,2016-09-08,2016-10-07,2016-09-25 16:58:00,NaN,33,Bechalor,female,2016-09
3,xqd20160004,PAIDOFF,1000,15,2016-09-08,2016-09-22,2016-09-22 20:00:00,NaN,27,college,male,2016-09
4,xqd20160005,PAIDOFF,1000,30,2016-09-09,2016-10-08,2016-09-23 21:36:00,NaN,28,college,female,2016-09

In [12]:
ln_data['paid_off_time'] < ln_data['due_date']

0       True
1      False
2       True
3      False
4       True
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool